@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Aclonica&family=Aguafina+Script&family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Akronim&family=Aladin&family=Aldrich&family=Alex+Brush&family=Allan:wght@400;700&family=Allerta+Stencil&family=Allison&family=Almendra+Display&family=Almendra+SC&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Alumni+Sans+Collegiate+One:ital@0;1&family=Alumni+Sans+Pinstripe:ital@0;1&family=Amarante&family=Amatic+SC:wght@400;700&family=Amita:wght@400;700&family=Annie+Use+Your+Telescope&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Antic+Didone&family=Anton&family=Antonio:wght@100;200;300;400;500;600;700&family=Arapey:ital@0;1&family=Arbutus&family=Are+You+Serious&family=Arizonia&family=Asset&family=Astloch:wght@400;700&family=Atma:wght@300;400;500;600;700&family=Aubrey&family=Averia+Gruesa+Libre&family=Babylonica&family=Bad+Script&family=Bahiana&family=Bahianita&family=Ballet&family=Bangers&family=Baumans&family=Beau+Rivage&family=Bebas+Neue&family=BenchNine:wght@300;400;700&family=Berkshire+Swash&family=Beth+Ellen&family=Big+Shoulders+Inline+Text:wght@100;200;300;400;500;600;700;800;900&family=Big+Shoulders+Stencil+Text:wght@100;200;300;400;500;600;700;800;900&family=Bigelow+Rules&family=Bilbo&family=Bilbo+Swash+Caps&family=Birthstone&family=Black+And+White+Picture&family=Bonheur+Royale&family=Boogaloo&family=Bowlby+One+SC&family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee+Hairline&family=Bungee+Spice&family=Butterfly+Kids&family=Cabin+Sketch:wght@400;700&family=Calligraffitti&family=Caramel&family=Carattere&family=Castoro+Titling&family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Cedarville+Cursive&family=Ceviche+One&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Charm:wght@400;700&family=Charmonman:wght@400;700&family=Chathura:wght@100;300;400;700;800&family=Chela+One&family=Cherish&family=Chewy&family=Chicle&family=Chilanka&family=Cinzel+Decorative&family=Clicker+Script&family=Climate+Crisis&family=Codystar:wght@300;400&family=Combo&family=Comforter&family=Comforter+Brush&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Coming+Soon&family=Condiment&family=Cookie&family=Corben:wght@400;700&family=Corinthia:wght@400;700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Cormorant+Upright:wght@300;400;500;600;700&family=Covered+By+Your+Grace&family=Crafty+Girls&family=Creepster&family=Croissant+One&family=Crushed&family=Cute+Font&family=Cutive+Mono&family=Damion&family=Dancing+Script:wght@400;500;600;700&family=Dawning+of+a+New+Day&family=Delicious+Handrawn&family=Delius&family=Delius+Swash+Caps&family=Devonshire&family=Diplomata+SC&family=Do+Hyeon&family=Dokdo&family=Dorsa&family=DotGothic16&family=Dynalight&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=East+Sea+Dokdo&family=Eczar:wght@400;500;600;700;800&family=Edu+QLD+Beginner:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Electrolize&family=Elsie:wght@400;900&family=Emblema+One&family=Emilys+Candy&family=Engagement&family=Englebert&family=Ephesis&family=Erica+One&family=Estonia&family=Euphoria+Script&family=Ewert&family=Explora&family=Farsan&family=Fascinate+Inline&family=Fasthand&family=Felipa&family=Festive&family=Flamenco:wght@300;400&family=Flavors&family=Fleur+De+Leah&family=Fontdiner+Swanky&family=Forum&family=Freckle+Face&family=Fredericka+the+Great&family=Freehand&family=Frijole&family=Fugaz+One&family=Fuggles&family=Fuzzy+Bubbles&family=Gaegu:wght@300;400;700&family=Galada&family=Galindo&family=Geo&family=Geostar&family=Geostar+Fill&family=Germania+One&family=Girassol&family=Give+You+Glory&family=Glass+Antiqua&family=Gloria+Hallelujah&family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Gochi+Hand&family=Gorditas&family=Graduate&family=Grand+Hotel&family=Grape+Nuts&family=Grechen+Fuemen&family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&family=Grey+Qo&family=Griffy&family=Gwendolyn:wght@400;700&family=Hachi+Maru+Pop&family=Hanalei&family=Hanalei+Fill&family=Handlee&family=Henny+Penny&family=Hepta+Slab:wght@1;100;200;300;400;500;600;700;800;900&family=Herr+Von+Muellerhoff&family=Hi+Melody&family=Hina+Mincho&family=Homemade+Apple&family=Hubballi&family=Hurricane&family=IM+Fell+English+SC&family=Iceberg&family=Iceland&family=Imbue:wght@100;200;300;400;500;600;700;800;900&family=Imperial+Script&family=Indie+Flower&family=Ingrid+Darling&family=Irish+Grover&family=Island+Moments&family=Italiana&family=Italianno&family=Itim&family=Jacques+Francois+Shadow&family=Jim+Nightshade&family=Jolly+Lodger&family=Jomhuria&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jua&family=Julee&family=Julius+Sans+One&family=Just+Another+Hand&family=Just+Me+Again+Down+Here&family=Karantina:wght@300;400;700&family=Kelly+Slab&family=Kings&family=Kirang+Haerang&family=Kite+One&family=Knewave&family=Kolker+Brush&family=Kranky&family=Kristi&family=Kumar+One+Outline&family=Kurale&family=La+Belle+Aurore&family=Lacquer&family=Langar&family=Lavishly+Yours&family=League+Script&family=Leckerli+One&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Licorice&family=Life+Savers:wght@400;700;800&family=Lily+Script+One&family=Limelight&family=Liu+Jian+Mao+Cao&family=Lobster&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Sketch&family=Long+Cang&family=Love+Light&family=Love+Ya+Like+A+Sister&family=Loved+by+the+King&family=Lovers+Quarrel&family=Luckiest+Guy&family=Luxurious+Script&family=Ma+Shan+Zheng&family=Macondo&family=Maiden+Orange&family=Major+Mono+Display&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mansalva&family=Marcellus+SC&family=Marck+Script&family=Margarine&family=Mea+Culpa&family=Meddon&family=MedievalSharp&family=Medula+One&family=Megrim&family=Meie+Script&family=Meow+Script&family=Metal&family=Metal+Mania&family=Miltonian&family=Miniver&family=Miss+Fajardose&family=Modak&family=Mogra&family=Molle&family=Monda:wght@400;700&family=Monofett&family=Monoton&family=Monsieur+La+Doulaise&family=MonteCarlo&family=Montez&family=Moon+Dance&family=Mountains+of+Christmas:wght@400;700&family=Mouse+Memoirs&family=Mr+Bedfort&family=Mr+Dafoe&family=Mr+De+Haviland&family=Mrs+Saint+Delafield&family=Mrs+Sheppards&family=Ms+Madi&family=My+Soul&family=Mynerve&family=Mystery+Quest&family=Nabla&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Neonderthaw&family=Neucha&family=New+Tegomin&family=Niconne&family=Nixie+One&family=Norican&family=Nosifer&family=Nothing+You+Could+Do&family=Noto+Music&family=Nova+Cut&family=Nova+Flat&family=Nova+Oval&family=Nova+Script&family=Nova+Slim&family=Odibee+Sans&family=Ole&family=Oleo+Script:wght@400;700&family=Oooh+Baby&family=Orbitron:wght@400;500;600;700;800;900&family=Over+the+Rainbow&family=Ovo&family=Pacifico&family=Pangolin&family=Passions+Conflict&family=Patrick+Hand&family=Patrick+Hand+SC&family=Pattaya&family=Petemoss&family=Petit+Formal+Script&family=Piedra&family=Pinyon+Script&family=Pirata+One&family=Plaster&family=Playball&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Podkova:wght@400;500;600;700;800&family=Poiret+One&family=Pompiere&family=Poor+Story&family=Praise&family=Press+Start+2P&family=Princess+Sofia&family=Puppies+Play&family=Purple+Purse&family=Quintessential&family=Qwigley&family=Qwitcher+Grypen:wght@400;700&family=Racing+Sans+One&family=Rakkas&family=Raleway+Dots&family=Rancho&family=Ranga:wght@400;700&family=Redacted&family=Redacted+Script:wght@300&family=Redressed&family=Reenie+Beanie&family=Reggae+One&family=Ribeye&family=Ribeye+Marrow&family=Righteous&family=Risque&family=Road+Rage&family=Rochester&family=Rock+Salt&family=Romanesco&family=Rouge+Script&family=Rowdies:wght@300;400;700&family=Rozha+One&family=Rubik+80s+Fade&family=Rubik+Glitch&family=Rubik+Iso&family=Rubik+Marker+Hatch&family=Rubik+Maze&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Rubik+Pixels&family=Rubik+Spray+Paint&family=Rubik+Storm&family=Rubik+Vinyl&family=Ruge+Boogie&family=Ruslan+Display&family=Russo+One&family=Ruthie&family=Rye&family=Sail&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sancreek&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Sarina&family=Sassy+Frass&family=Schoolbell&family=Seaweed+Script&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&family=Send+Flowers&family=Sevillana&family=Shadows+Into+Light+Two&family=Shalimar&family=Share+Tech&family=Share+Tech+Mono&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Shojumaru&family=Short+Stack&family=Shrikhand&family=Silkscreen:wght@400;700&family=Single+Day&family=Sirin+Stencil&family=Six+Caps&family=Smokum&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Smythe&family=Sniglet:wght@400;800&family=Snippet&family=Snowburst+One&family=Sofadi+One&family=Sofia&family=Special+Elite&family=Spicy+Rice&family=Spirax&family=Splash&family=Srisakdi:wght@400;700&family=Stalemate&family=Stalinist+One&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Stint+Ultra+Condensed&family=Style+Script&family=Sue+Ellen+Francisco&family=Supermercado+One&family=Suranna&family=Swanky+and+Moo+Moo&family=Syncopate:wght@400;700&family=Syne+Mono&family=Syne+Tactile&family=Tangerine:wght@400;700&family=Tapestry&family=Taprom&family=Teko:wght@300;400;500;600;700&family=Text+Me+One&family=The+Girl+Next+Door&family=The+Nautigal:wght@400;700&family=Tilt+Prism&family=Titan+One&family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trade+Winds&family=Train+One&family=Turret+Road:wght@200;300;400;500;700;800&family=Twinkle+Star&family=Underdog&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&family=Unkempt:wght@400;700&family=Updock&family=VT323&family=Vast+Shadow&family=Viaoda+Libre&family=Vibes&family=Vibur&family=Vina+Sans&family=Vujahday+Script&family=Wallpoet&family=Walter+Turncoat&family=Water+Brush&family=Waterfall&family=Whisper&family=WindSong:wght@400;500&family=Xanh+Mono:ital@0;1&family=Yesteryear&family=Yomogi&family=Yuji+Boku&family=Yuji+Mai&family=Zen+Loop:ital@0;1&family=Zen+Tokyo+Zoo&family=Zeyada&family=Zhi+Mang+Xing&display=swap');

html {
	height: 950%;
	width: fit-content;
	background-image: url(Jhazelroth-hgs-bg-forest.jpeg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 8px #a789fb;
	outline: solid 15px #FF729F;
	outline-style: groove;
	outline-width: thick;
	margin: 5px;
}

h1 {
	text-decoration: double underline #ae475f;
	text-align: center;
	font-size: 500%;
	text-shadow: #804752 2px 5px;
	font-family: 'Tilt Prism', cursive;
	color: #f58a96;
	white-space: nowrap;
}

.subheading {
	border: thick double #a41e65;
	background-image: linear-gradient(#f5add3, #f566ab);
	border-style: dashed double none;
	border-spacing: 100px;
	border-block: 3px solid;
	text-align: center;
	font: italic 2.0em "Trade Winds";
	white-space: nowrap;
	color: #6e122d;
	background-color: rgb(101 98 86 / 0.75)
}

/* #ED96BB - Amaranth Pink
	#60435F - English Violet
	#836B7C - Mountbatten Pink
	#917A78 - Cinereous
	#A69398 - Rose Quarts
	#C9BBB4 - Silver
	#DBCFC2 - Bone
	#ECE2D0 - Bone(Bleached)
	#B4E4D5 - Tiffany Blue 
	#E56399 - Thulian Pink*/

.img1 {
	position: static;
	height: auto;
	width: 77%;
	transform: scale(1.25) translate(0%, 10%);
	display: block;
	top: 0;
	left: 0;
	image-rendering: crisp-edges;
	z-index: 1;
}

.img2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -26%);
  z-index: 2;
  max-width: 30%;
  height: auto;
}

@media (min-width: 768px) and (min-height: 768px) {
  .img2 {
    width: 20%;
    transform: translate(-30%, -16%);
  }
}
		/*justify-content: center;
	align-content: center;
	position: relative;
	height: auto;
	width: auto;
	transform: scale(0.40) translate(-50%, -105%);
	top: 0px;
	display: block;
  margin-left: 36%;
	margin-top: 375px;*/
	}
}

.AuthorText {
	background-color: rgb(184 214 193 / 0.75);
	border: 2mm ridge #836B7C;
	text-align: center;
	margin: 7em;
	margin-top: 5em;
	margin-bottom: 9em;
}

.fullscreen-disclaimer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	display: none;
	/* Initially hide the disclaimer */
}

.disclaimer-content {
	background: #d392ac;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	outline: solid 15px #FF729F;
	outline-style: groove;
	outline-width: thick;
	font: 2.0em "Bahiana";
}

.disclaimer-content button {
	background: #c36586;
	color: #f2c9eb;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	outline: solid 15px #FF729F;
	outline-style: groove;
	outline-width: thick;
	font: italic 1.0em "Trade Winds";
}

h2 {
	text-align: center;
	text-decoration: wavy underline overline;
	font: bold italic 1.5em "Monda";
	color: #70053e;
}

p4 {
	text-align: center;
	font: bold italic 1.35em "Zen Loop";
	color: #300f39;
}

.StartDescription {
	background-image: linear-gradient(#f4c8df, #f273b0);
	border: 4mm ridge #a41e65;
	border-radius: 100px;
	text-align: center;
	font: italic 1.5em "Text Me One";
	color: #a41e65;
	padding: 0.5em 5em;
	margin: 0;
	display: inline-block;
	align-items: center;
	align-self: center;
}

.StartDescriptionContent {
	background-clip: content-box;
	display: inline-block;
	width: 1000px;
	text-align: center;
	align-content: center;

}



p2 {
	text-align: end;
	font-size: 100%;
	font: caption;
	color: #0e2b08;
	white-space: nowrap;
}

a {
	background-color: #71806b;
	font: italic 1.0em 'Times New Roman';
	white-space: nowrap;
}
